<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Add testreport</title>
</head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<h1>Add a new testreport</h1>
	<form th:object="${testreport}" 
	      th:action="@{save_testreport}" method="post" action="#">	
	    <h3 th:text="'Tester: ' + ${firstName} + ' ' + ${lastName}"></h3>
		<br>
		<label for="testtype">Test type:</label>
		<input type="text" th:field="*{testtype}"/>
		<br>
		<label for="time">Time:</label>
		<input type="text" th:field="*{time}"/>
		<br>
		<label for="snowmobile">Snowmobile:</label>
		<select th:field="${testreport.snowMobile}">
			<option th:each="sm: ${all_snowmobiles}"
					th:value="${sm.id}"
					th:text="${sm.model}">
			</option>
		</select>
		<br>
		<!-- TODO: Make this a larger field -->
		<label for="report">Test report:</label><br>
		<textarea th:field="*{report}"></textarea>
		<br>
		<input type="submit" value="Save new testreport"></input>
	</form>
</body>
</html>