<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Add testreport</title>
</head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<h1>Add a new testreport</h1>
	<form th:object="${testReport}" 
	      th:action="@{/save_testreport}" method="post" action="#">	
	    <h3 th:text="'Tester: ' + ${firstname} + ' ' + ${lastname}"></h3>
		<br>
		<label for="testtype">Test type:</label>
		<select th:field="*{testtype}">
			<option value="Smoke test">Smoke test</option>
			<option value="Durability test">Durability test</option>
			<option value="Consumption test">Consumption test</option>
			<option value="Safety test">Idiot test</option>
			<option value="EMP test">EMP test</option>
		</select>
		<span th:if="${#fields.hasErrors('testtype')}"
		      th:errors="*{testtype}">Error</span>
		<br>
		<label for="time">Time:</label>
		<input type="text" th:field="*{time}"/>
		<span th:if="${#fields.hasErrors('time')}"
		      th:errors="*{time}">Error</span>
		<br>
		<label for="snowmobile">Snowmobile:</label>
		<select th:field="${testReport.snowMobile}">
			<option th:each="sm: ${all_snowmobiles}"
					th:value="${sm.id}"
					th:text="${sm.model}">
			</option>
			
		</select>
		<br>
		<!-- TODO: Make this a larger field -->
		<label for="report">Test report:</label><br>
		<h5 th:if="${#fields.hasErrors('report')}"
		      th:errors="*{report}">Error</h5>
		<textarea th:field="*{report}"></textarea>
		<br>
		<input type="submit" value="Save new testreport"></input>
	</form>
</body>
</html>