<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add user</title>
</head>

<body>
	<h1>Add a new user</h1>
	<form th:object="${newuser}" 
	      th:action="@{save_user}" method="post" action="#">
	
		<label for="username">Username:</label>
		<input type="text" th:field="*{username}"/>
		<br>
		<label for="firstname">First name:</label>
		<input type="text" th:field="*{firstname}"/>
		<br>
		<label for="lastname">Last name:</label>
		<input type="text" th:field="*{lastname}"/>
		<br>
		<label for="address">Address:</label>
		<input type="text" th:field="*{address}"/>
		<br>
		<label for="telephone">Telephone number:</label>
		<input type="text" th:field="*{address}"/>
		<br>
		<label for="email">Email:</label>
		<input type="text" th:field="*{email}"/>
		<br>
		<!-- TODO: dropdown list for roles -->
		<label for="role">Role:</label>
		<input type="text" th:field="*{role}"/>
		<br>
		<label for="password">Password</label>
		<!-- TODO: make stars appear here instead of text -->
		<input type="text" th:field="*{pwdHash}"/>
		<br>
		<input type="submit" value="Save new user"></input>
	</form>
</body>
</html>