<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Add snowmobile</title>
</head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<h1>Add a new snowmobile</h1>
	<form action="#" th:action="@{/save_snowmobile}"
		  th:object="${snowMobile}" method="post">
		
		<label for="model">Model:</label>
		<input type="text" th:field="*{model}"/>
			<p th:if="${#fields.hasErrors('model')}"
			   th:errors="*{model}">Error</p>
		<br>
		<label for="year">Year:</label>
		<input type="text" th:field="*{year}"/>
			<p th:errors="*{year}">Error</p>
		<br>
		<label for="trackWidth">Track width:</label>
		<input type="text" th:field="*{trackWidth}"/>
		<br>
		<label for="trackLength">Track length:</label>
		<input type="text" th:field="*{trackLength}"/>
		<br>
		<br>
		<input type="submit" value="Save new snowmobile"></input>
	</form>
</body>
</html>