<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Show all test reports</title>	
</head>

<body>
	<h1>All test reports</h1>
	<table class="table table-striped">
		<tr>
			<th>Vehicle</th>
			<th>Test type</th>
			<th>Time</th>
			<th>Person</th>
			<th>Report</th>
		</tr>		
		<tr th:each = "report: ${get_all}">
			<td th:text = "${report.vehicle}" />
			<td th:text = "${report.testtype}" />
			<td th:text = "${report.time}" />
			<td th:text = "${report.person}" />
			<td th:text = "${report.report}" />
		</tr>
	</table>
</body>

</html>
