<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"> 
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Index page</title>	
</head>

<body>
	<!-- Nav bar. This would be nice to show on all pages, and would be 
	different according to user. -->
	<ul class="nav nav-tabs">
    	<li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
    	<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    	<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    	<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
    </ul>
	

	<h1 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]!</h1>
	<button class="btn btn-info" onclick="location.href='/all_testreports'" type="button">
	All test reports
	</button>
</body>

</html>
