<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Login</title>
	
</head>
<body>
	<!-- TODO: put some text to navbar (unauthenticated view) -->
	<div th:replace="fragments :: navbar"></div>
	
	<h2>Test reporting login page</h2>
	<form th:action="@{/login}" method="post">
		<label>Username: <input type="text" name="username"/></label>
		<br>
		<!-- Make stars appear instead of text -->
		<label>Password: <input type="password" name="password"/></label>
		<br>
		<input type="submit" value="Sign in"/>
		<h2 th:if="${param.error}">Access denied</h2>
	</form>
</body>
</html>
