<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Login</title>
	
</head>
<body>
	<div th:replace="fragments :: navbar"></div>
	<h2>Login page</h2>
	<br>
	<form th:action="@{/login}" method="post">
		<label>Username: <input type="text" name="username"/></label>
		<br>
		<label>Password: <input type="password" name="password"/></label>
		<br>
		<input type="submit" value="Sign in"/>
		<h2 th:if="${param.error}">Access denied</h2>
	</form>

	<p>
	Source code available: <a href="https://github.com/tqre/snowmobile-testresult-db">https://github.com/tqre/snowmobile-testresult-db</a>
	<br>
	GPL-3.0 (C)2020 Tuomo Kuure (tqre)
	<br>
	<a href="tqre.wordpress.com">tqre.wordpress.com</a>
	<br>
	<a href="ailogs.design.blog">ailogs.design.blog</a>
	</p>

</body>
</html>
