<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<title>Account information</title>	
</head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<h1>My account</h1>
	<!-- TODO: change save_user to something else, so it doesn't redirect to -->
	<!--       admin places -->
	<form th:object="${currentuser}" 
	      th:action="@{save_user}" method="post" action="#">
	
		<!-- Is it possible to avoid this? -->
		<!-- Not editable fields -->
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{username}"/>
		<input type="hidden" th:field="*{role}"/>
		
		<label for="firstname">First name:</label>
		<input type="text" th:field="*{firstname}"/>
		<br>
		<label for="lastname">Last name:</label>
		<input type="text" th:field="*{lastname}"/>
		<br>
		<label for="address">Address:</label>
		<input type="text" th:field="*{address}"/>
		<br>
		<label for="telephone">Telephone number:</label>
		<input type="text" th:field="*{address}"/>
		<br>
		<label for="email">Email:</label>
		<input type="text" th:field="*{email}"/>
		<br>
		<label for="password">Password</label>
		<!-- TODO: make stars appear here instead of text -->
		<!-- This is broken, have to reinput password to avoid hash getting hashed as passwd -->
		<input type="text" th:field="*{pwdHash}"/>
		<br>
		<input type="submit" value="Save new user"></input>
	</form>
</body>

</html>
