<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}">
	<title>Test reports for a snowmobile</title>	
</head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<h1 th:text="${snowmobile.model}"></h1>
	<table class="table table-striped">
		<tr>
			<th>Test</th>
			<th>Tester</th>
			<th>Time</th>
			<th>Report</th>
		</tr>
		<tr th:each = "test: ${snowmobile.tests}">
			<td th:text = "${test.testtype}" />
			<td th:text = "${test.person.firstname} + ' ' + ${test.person.lastname}" />
			<td th:text = "${test.time}" />	
			<td><a th:href = "@{|/viewreport/${test.id}|}">VIEW FULL REPORT</a></td>
		</tr>
	</table>
</body>
</html>