<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}">
	<title>Test report</title>	
</head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<h1 th:text="${testreport.snowMobile.model}"></h1>
	<h3 th:text="${testreport.testtype}"></h3>
	<h3 th:text=" ${testreport.time}"></h3>
	<p th:text="${testreport.report}"></p>
	<h4>Tester:</h4>
	<h5 th:text="${testreport.person.firstname} + ' ' + ${testreport.person.lastname}"></h5>
	<p th:text="${testreport.person.telephone}"></p>
	<p th:text="${testreport.person.email}"></p>
	<a class="btn btn-info"
	   style="float:left"
	   th:href = "@{/all_testreports}">
	   ALL TESTREPORTS
	</a>
	<a class="btn btn-danger" 
	   style="float:right"
	   sec:authorize="hasAnyAuthority('ADMIN','TESTER')"
	   th:href = "@{/delete_testreport/{id} (id=${testreport.id})}">
	DELETE REPORT</a>
</body>
</html>
